.footer {
    background-color: #00d1b2;
    padding: 3rem 1.5rem 2rem;
    color: azure;
}

strong {
    color: azure;
    font-weight: 700;
}

ul {
    list-style: inside;
}

#deleteOne > button {
    margin-bottom: 8px;
}

li {
    margin-bottom: 12px;
}
